.blogs-page .first-section img.bg-img {
  width: 140%;
  position: absolute;
  top: 0;
  left: -28%;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
  z-index: 0;
}
.blogs-page .first-section {
  align-items: flex-start;
  justify-content: flex-end;
}
.blogs-page .first-section .container .content-first {
  align-items: flex-end;
  padding: 5% 0 0 5%;
}
.blogs-page .first-section .container .heading-content {
  max-width: 50%;
}
.heading-content .home-section-title {
  text-align: left;
  font-size: 100px;
  line-height: 96px;
  font-family: "Rajdhani";
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
}
.blogs-page .blog-text {
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  letter-spacing: 0px;
  color: #000000;
}
.blogs-page .blog-text.collapsed {
  display: -webkit-box;
  width: 500px;
  max-width: 500px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blogs-page .read-more-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 50px 15px;
  text-align: center;
  border: none;
  background-color: #000;
  color: var(--primary);
  font-size: 24px;
  line-height: 29px;
  border-radius: 23px;
  margin-top: 20px;
}
.blogs-page .articles-section {
  margin-top: 8rem;
}
.articles-section .top-text-part {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 55%;
}
.top-text-part .section-heading {
  text-align: left;
  font-size: 72px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Rajdhani";
  letter-spacing: 0px;
  color: #00ff9d;
  margin-bottom: 35px;
}
.top-text-part .section-info {
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Helvetica Neue";
  letter-spacing: 0px;
  color: #ffffff;
}
.articles-section .article-part {
  display: flex;
  flex: 1 1 auto;
  margin-top: 5rem;
}
.article-part .right-part {
  display: flex;
  flex-direction: column;
  padding: 60px 97px 70px 62px;
  background-color: white;
  border-radius: 40px;
}
.article-part .row {
  width: 100%;
}
.article-part .right-part h5 {
  text-align: left;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
  font-family: "Rajdhani";
  letter-spacing: 0px;
  color: #000000;
}
.article-part .right-part .post {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}
.article-part .right-part .post p {
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  font-family: "Rajdhani";
  letter-spacing: 0px;
  color: #000000;
}
.article-part .right-part .post span {
  display: inline-flex;
  width: 100%;
  height: 1.5px;
  background-color: var(--primary);
}
.article-part .right-part .post .primary-btn {
  display: flex;
  width: unset;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 8px 16px 10px;
  border: none;
  border-radius: 23px;
  color: #000000;
  letter-spacing: 0px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  font-family: "Helvetica Neue";
}
.article-part .right-part .post:last-child {
  margin-bottom: 0;
}
.article-part .left-part {
  display: flex;
  flex: 1 1 auto;
}
.article-part .left-part .row {
  width: 103%;
}
.left-part .article-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.left-part .article-card .top-image-part {
  display: flex;
  flex: 1;
  margin-bottom: 30px;
}
.left-part .article-card .top-image-part img {
  width: 100%;
}
.article-card .bottom-text-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}
.article-card .bottom-text-part h5 {
  text-align: left;
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Rajdhani";
  letter-spacing: 0px;
  color: #ffffff;
}
.article-card .bottom-text-part .blog-text {
  color: white;
  width: 100% !important;
}
.article-card .bottom-text-part .read-more-btn {
  border: 1px solid white;
  color: white;
}

@media screen and (max-width: 1659px) {
  .articles-section .top-text-part {
    width: 60%;
  }
  .blogs-page .blog-text,
  .article-part .right-part .post p {
    font-size: 22px;
    line-height: 34px;
  }
  .article-card .bottom-text-part h5 {
    font-size: 40px;
    line-height: 52px;
  }
  .article-part .right-part {
    padding: 50px 85px 60px 52px;
  }
  .blogs-page .read-more-btn,
  .article-part .right-part .post .primary-btn {
    font-size: 20px;
    line-height: 24px;
  }
  .heading-content .home-section-title {
    font-size: 90px;
    line-height: 86px;
  }
}

@media screen and (max-width: 1399px) {
  .blogs-page .blog-text.collapsed {
    width: 420px;
    max-width: 420px;
  }
  .heading-content .home-section-title {
    font-size: 80px;
    line-height: 76px;
  }
  .blogs-page .read-more-btn,
  .article-part .right-part .post .primary-btn {
    font-size: 18px;
    line-height: 22px;
  }
  .blogs-page .blog-text,
  .article-part .right-part .post p {
    font-size: 18px;
    line-height: 30px;
  }
  .blogs-page .first-section {
    height: 70vh;
    min-height: unset;
    max-height: unset;
  }
  .articles-section .top-text-part {
    width: 65%;
  }
  .top-text-part .section-info {
    font-size: 22px;
    line-height: 34px;
  }
  .top-text-part .section-heading {
    font-size: 60px;
  }
  .article-card .bottom-text-part h5 {
    font-size: 30px;
    line-height: 42px;
  }
  .article-part .right-part h5 {
    font-size: 26px;
    line-height: 48px;
  }
  .article-part .right-part {
    padding: 40px 65px 50px 40px;
  }
}

@media screen and (max-width: 1199px) {
  .blogs-page .blog-text.collapsed {
    width: 380px;
    max-width: 380px;
  }
  .heading-content .home-section-title {
    font-size: 65px;
    line-height: 55px;
  }
  .blogs-page .read-more-btn,
  .article-part .right-part .post .primary-btn {
    font-size: 15px;
    line-height: 19px;
    margin-top: 0;
  }
  .blogs-page .blog-text,
  .article-part .right-part .post p {
    font-size: 16px;
    line-height: 28px;
  }
  .blogs-page .first-section {
    height: 60vh;
    min-height: unset;
    max-height: unset;
  }
  .articles-section .top-text-part {
    width: 70%;
  }
  .top-text-part .section-info {
    font-size: 20px;
    line-height: 32px;
  }
  .top-text-part .section-heading {
    font-size: 48px;
  }
  .article-card .bottom-text-part h5 {
    font-size: 26px;
    line-height: 38px;
  }
  .article-part .right-part h5 {
    font-size: 22px;
    line-height: 44px;
  }
  .article-part .right-part {
    padding: 30px 55px 40px 35px;
  }
  .blogs-page .articles-section {
    margin-top: 4rem;
  }
  .download-app {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1023px) {
  .blogs-page .first-section {
    height: 55vh;
  }
  .blogs-page .articles-section {
    margin-top: 3rem;
  }
  .articles-section .article-part {
    margin-top: 2.5rem;
  }
  .top-text-part .section-heading {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 991px) {
  .article-part .right-part {
    padding: 20px 35px 30px 25px;
  }
  .blogs-page .blog-text,
  .article-part .right-part .post p {
    font-size: 12px;
    line-height: 22px;
  }
  .article-part .right-part .post p {
    margin-bottom: 5px;
  }
  .article-part .right-part .post {
    margin-bottom: 25px;
  }
  .article-part .right-part h5 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .blogs-page .read-more-btn,
  .article-part .right-part .post .primary-btn {
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
  }
  .heading-content .home-section-title {
    font-size: 55px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  .blogs-page .blog-text.collapsed {
    max-width: 100%;
    width: 100%;
  }
  .top-text-part .section-heading {
    font-size: 35px;
    line-height: 24px;
  }
  .top-text-part .section-info {
    font-size: 16px;
    line-height: 28px;
  }
  .left-part .article-card .top-image-part {
    margin-bottom: 15px;
  }
  .article-card .bottom-text-part h5 {
    font-size: 24px;
    line-height: 36px;
  }
  .article-card .bottom-text-part .read-more-btn,
  .blogs-page .read-more-btn,
  .article-part .right-part .post .primary-btn {
    padding: 8px 25px 10px;
  }
}

@media screen and (max-width: 767px) {
  .blogs-page .first-section img.bg-img {
    width: 110%;
    left: 0%;
    backdrop-filter: blur(80px);
  }
  .blogs-page .first-section {
    align-items: center;
    justify-content: center;
  }
  .blogs-page .first-section .container .content-first {
    align-items: center;
    background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    );
    padding: 10% 5%;
    border-radius: 50px;
  }
  .blogs-page .first-section .container .heading-content {
    max-width: 85%;
  }
  .heading-content .home-section-title {
    font-size: 45px;
    line-height: 40px;
  }
  .blogs-page .blog-text {
    font-size: 16px;
    line-height: 28px;
  }
  .blogs-page .read-more-btn,
  .article-part .right-part .post .primary-btn {
    font-size: 16px;
    line-height: 20px;
  }
  .articles-section .top-text-part {
    width: 100%;
  }
  .article-part .right-part {
    max-width: 75%;
  }
  .article-part .right-part .post p {
    font-size: 20px;
    line-height: 32px;
  }
  .article-part .right-part h5 {
    font-size: 26px;
    line-height: 52px;
  }
}

@media screen and (max-width: 575px) {
  .articles-section .top-text-part {
    width: 95%;
    margin: auto;
  }
  .articles-section .article-part {
    margin: auto;
    max-width: 95%;
    margin-right: 0.25rem;
  }
  .blogs-page .first-section .container .content-first {
    justify-content: flex-start;
  }
  .article-card .bottom-text-part .blog-text {
    font-weight: 300;
  }
}

@media screen and (max-width: 450px) {
  .article-part .right-part {
    max-width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .article-part .left-part {
    width: 105%;
  }
  .article-part .right-part {
    max-width: 100%;
  }
  .top-text-part .section-heading {
    font-size: 26px;
    line-height: 18px;
    margin-bottom: 16px;
  }

  .blogs-page .article-part .blog-text {
    font-size: 14px;
    line-height: 20px;
  }
  .article-part .right-part .post p {
    font-size: 16px;
    line-height: 24px;
  }
  .blogs-page .read-more-btn,
  .article-part .right-part .post .primary-btn {
    font-size: 14px;
    line-height: 18px;
  }
}
