.partners-page .login-btn {
  padding: 0 16px 3px;
  font-weight: 400;
}
.partners-page .first-section.banner-section img.bg-img {
  width: 100%;
  height: auto;
  left: 0;
}
.partners-page .first-section .container .content-first {
  padding-top: 35%;
  align-items: center;
  padding-left: 0;
}
.partners-page .second-section,
.partners-page .api-partner-section,
.partners-page .cards-section,
.partners-page .fifth-section,
.partners-page .patner-company-section {
  width: 100%;
  margin-top: 7rem;
}
.partners-page .top-text-part {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-bottom: 2.5rem;
}
.partners-page .section-heading {
  text-align: center;
  font: normal normal normal 72px/36px Rajdhani;
  letter-spacing: 0px;
  color: #00ff9d;
  margin: 0;
}
.partners-page .top-text-part p {
  text-align: center;
  font: normal normal normal 24px/36px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 0;
}
.second-section .cards-contents {
  width: 100%;
  position: relative;
  margin-top: 5rem;
}
.cards-contents .feature-card {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
  padding: 20px 30px;
  border: 1px solid var(--primary);
  border-radius: 12px;
  position: relative;
  z-index: 2;
  background-color: black;
}
.feature-card span {
  text-align: left;
  font: normal normal normal 21px/28px Helvetica Neue;
  letter-spacing: 0px;
  color: #00ff9d;
}
.cards-contents img.bg-line {
  position: absolute;
  top: 5%;
  width: 132%;
  height: 70%;
  left: -16%;
  z-index: 0;
}

.partners-page .api-partner-section .top-text-part .action-part {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cards-section .commbitz-card {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 50px;
  background-color: var(--primary);
  border-radius: 30px;
  max-width: 95%;
  margin: 0 auto 50px;
  height: 100%;
  justify-content: space-between;
}
.commbitz-card .card-top {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.card-top h6 {
  text-align: left;
  font: normal normal bold 36px/44px Helvetica Neue;
  letter-spacing: 0px;
  color: #000000;
  margin: 0;
}
.card-top p {
  margin: 0;
  text-align: left;
  font: normal normal normal 24px/28px Helvetica Neue;
  letter-spacing: 0px;
  color: #000000;
}
.commbitz-card .card-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.card-bottom .black-btn {
  background-color: black;
  font-size: 18px;
  line-height: 30px;
  border-color: black;
  font-weight: 500;
  color: white !important;
  border: 2px solid black;
  height: 44px;
  padding: 0 16px 3px;
  font-weight: 400;
  display: inline-block;
  width: 70%;
}
.card-bottom .black-btn:hover {
  border-color: black;
  color: black !important;
  background-color: var(--primary);
}
.fifth-section .partnership-card {
  display: flex;
  max-width: 85%;
  background-color: white;
  border: 5px solid var(--primary);
  border-radius: 30px;
  padding: 35px 70px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.fifth-section .partnership-card h3 {
  text-align: center;
  font: normal normal normal 72px/84px Rajdhani;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 35px;
}
.fifth-section .partnership-card p {
  text-align: center;
  font: normal normal normal 35px/47px Helvetica Neue;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 0;
}
.fifth-section .partnership-card .outline-primary-btn {
  margin-bottom: 15px;
  border: 1px solid #00ff9d;
  border-radius: 14px;
  background-color: white;
  text-align: center;
  font: normal normal normal 35px/47px Helvetica Neue;
  letter-spacing: 0px;
  color: #000000;
  padding: 5px 20px;
}
.fifth-section .partnership-card .outline-primary-btn:hover {
  background-color: #00ff9d;
}

.patner-company-section .company-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 85%;
  margin: auto;
}

@media screen and (max-width: 1599px) {
  .partners-page .first-section .container .content-first {
    padding-top: 30%;
  }
  .partners-page .top-text-part {
    max-width: 85%;
  }
}

@media screen and (max-width: 1399px) {
  .partners-page .first-section .container .content-first {
    padding-top: 25%;
  }
  .partners-page .top-text-part {
    max-width: 90%;
  }
}

@media screen and (max-width: 1299px) {
  .partners-page .first-section .container .content-first {
    padding-top: 20%;
  }
  .partners-page .top-text-part {
    max-width: 95%;
  }
  .partners-page .first-section.banner-section img.bg-img {
    height: 80%;
  }
  .first-section {
    min-height: unset;
    max-height: unset;
    margin-bottom: -4rem;
  }
  .partners-page .second-section,
  .partners-page .api-partner-section,
  .partners-page .cards-section,
  .partners-page .fifth-section,
  .partners-page .patner-company-section {
    margin-top: 5rem;
  }
  .partners-page .section-heading {
    font-size: 60px;
  }
  .partners-page .top-text-part p {
    font-size: 20px;
    line-height: 28px;
  }
  .feature-card span {
    font-size: 18px;
    line-height: 22px;
  }
  .partners-page .api-partner-section .top-text-part p {
    max-width: 85%;
  }
  .cards-section .commbitz-card {
    padding: 30px 30px 40px;
  }
  .card-top h6 {
    font-size: 28px;
    line-height: 36px;
  }
  .card-top p {
    font-size: 18px;
    line-height: 22px;
  }
  .fifth-section .partnership-card h3 {
    font-size: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .cards-contents img.bg-line {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .partners-page .first-section .container .content-first {
    padding-top: 30%;
  }
  .partners-page .section-heading {
    font-size: 45px;
  }
  .partners-page .top-text-part p {
    font-size: 16px;
    line-height: 24px;
  }
  .cards-contents .row > *,
  .cards-section .container .row > * {
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
  }
  .cards-section .container .row {
    justify-content: center;
  }
  .cards-section .commbitz-card {
    max-width: 100%;
  }
  .fifth-section .partnership-card {
    max-width: 100%;
    padding: 25px 50px;
  }
  .fifth-section .partnership-card h3 {
    font-size: 45px;
    line-height: 53px;
  }
  .fifth-section .partnership-card .outline-primary-btn,
  .fifth-section .partnership-card p {
    font-size: 24px;
    line-height: 36px;
  }
  .feature-card span {
    font-size: 16px;
    line-height: 20px;
  }
  .Partner-comp {
    display: block;
  }
  .Partner-comp .block-row {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .home-section-title {
    font-size: 45px;
    line-height: 45px;
  }
  .partners-page .second-section,
  .partners-page .api-partner-section,
  .partners-page .cards-section,
  .partners-page .fifth-section,
  .partners-page .patner-company-section {
    margin-top: 2.5rem;
  }
  .first-section {
    margin-bottom: 0;
    height: 50vh;
  }
  .partners-page .first-section.banner-section img.bg-img {
    height: 100%;
    opacity: 0.5;
  }
  .partners-page .section-heading {
    font-size: 30px;
  }
  .partners-page .top-text-part {
    max-width: 100%;
    gap: 20px;
  }
  .second-section .cards-contents {
    margin-top: 2.5rem;
  }
  .card-top h6 {
    font-size: 22px;
    line-height: 30px;
  }
  .card-top p {
    font-size: 15px;
    line-height: 19px;
  }
  .card-bottom .black-btn {
    font-size: 14px;
    line-height: 22px;
  }
  .fifth-section .partnership-card h3 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }
  .fifth-section .partnership-card .outline-primary-btn,
  .fifth-section .partnership-card p {
    font-size: 16px;
    line-height: 20px;
  }
  .Partner-comp {
    margin-top: 2.5rem;
  }
  .Partner-comp .comp-rectangle {
    margin-bottom: 20px;
  }
  .Partner-comp div{
    gap: 0;
  }
}

@media screen and (max-width: 575px) {
  .partners-page .first-section.banner-section img.bg-img {
    opacity: 0.3;
    backdrop-filter: blur(20px);
  }
  .partners-page .first-section .container .content-first {
    padding-top: 12%;
  }
  .partners-page .top-text-part p {
    font-size: 14px;
    line-height: 18px;
  }
  .partners-page .top-text-part {
    max-width: 95%;
    margin: auto;
  }
  .cards-contents .feature-card {
    max-width: 95%;
    margin: 0 auto;
  }
  .navbar-dark .navbar-toggler {
    margin-right: 1.5rem;
  }
  .feature-card span {
    font-size: 14px;
    line-height: 18px;
  }
  .cards-section .commbitz-card {
    max-width: 85%;
  }
  .partners-page .login-btn {
    font-size: 14px;
    line-height: 22px;
  }
  .fifth-section .partnership-card {
    max-width: 85%;
    margin: auto;
  }
}

@media screen and (max-width: 375px) {
  .second-section .cards-contents {
    justify-content: center;
  }
  .row {
    justify-content: center;
    margin-left: calc(var(--bs-gutter-x) * -0.25);
  }
  .cards-section .commbitz-card {
    max-width: 90%;
  }
  .navbar-brand {
    margin-right: 0;
  }
}
