:root {
  --primary: #00ff9d;
  --white: #ffffff;
  --black: #000;
  --theme-blue: #00caf9;
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 200;
  src: url("../fonts/Rajdhani-Light.ttf");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 400;
  src: url("../fonts/Rajdhani-Regular.ttf");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 500;
  src: url("../fonts/Rajdhani-Medium.ttf");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 600;
  src: url("../fonts/Rajdhani-SemiBold.ttf");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 700;
  src: url("../fonts/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 200;
  src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 300;
  src: url("../fonts/HelveticaNeueThin.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  src: url("../fonts/HelveticaNeueLight.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 500;
  src: url("../fonts/HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-weight: 700;
  src: url("../fonts/HelveticaNeuBold.ttf");
}

.login-btn {
  background-color: var(--primary);
  font-size: 18px;
  line-height: 30px;
  border-color: black;
  font-weight: 500;
  color: var(--black) !important;
  border: 2px solid var(--primary);
  height: 44px;
  display: inline-block;
}

.login-btn:hover {
  box-shadow: none;
  border-color: var(--primary);
  color: var(--primary) !important;
  background-color: var(--black);
}

.home-section-title {
  font-family: "Rajdhani";
  font-size: 72px;
  /* padding-top: 12%; */
  line-height: 72px;
  margin-bottom: 1.5%;
}

.home-section-description {
  font-family: "Helvetica Neue";
  font-size: 30px;
}

.home-section-search {
  margin-top: 1%;
  width: 575px;
  outline: none;
  font-family: "Helvetica Neue";
}

.home-section-search:focus {
  box-shadow: none;
  border-color: transparent;
}

.home3-section-title {
  font-family: "Rajdhani";
  color: var(--primary);
  font-size: 72px;
  line-height: 92px;
}

.rectangle-test {
  height: 70px;
  width: 130px;
  background-color: var(--white);
}

.rectangle {
  max-width: 418px;
  background-color: var(--white);
  font-family: "Helvetica Neue";
  border-radius: 30px;
}

.home3-section-subtitle {
  font-family: "Helvetica Neue";
  color: var(--white);
  font-size: 47px;
  line-height: 56px;
}

.home3-section-description {
  font-family: "Rajdhani";
  color: var(--white);
  font-size: 50px;
  line-height: 55px;
}

body {
  background-color: var(--black);
  overflow-x: hidden;
}

header {
  font-family: "Helvetica Neue";
  font-weight: 400;
  position: stickey;
  top: 0;
}
header .navbar.navbar-expand-lg.navbar-dark {
  transition: all 0.3s ease-in-out;
}
.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: black;
  padding-top: 1.5rem;
}

body.page-not-found {
  background-color: var(--primary);
  overflow: hidden;
}

.links-list {
  list-style-type: none;
}

.header-link-list {
  list-style-type: none;
}

.header-link-list li {
  color: black;
  background-color: var(--primary);
  border-radius: 12000px;
  padding: 5px 18px;
  font-weight: 400;
  border: 2px solid var(--black);
  cursor: pointer;
  font-size: 24px;
  min-width: 130px;
  text-align: center;
}

.header-link-list li:hover {
  color: var(--primary);
  background-color: var(--black);
  border: 2px solid var(--primary);
}

.bg-black {
  background-color: black;
}

.products-list-container div {
  height: 230px;
  width: 230px;
  border: 5px solid var(--primary);
  padding: 2.5rem;
  font-weight: 500;
}

.products-list-container div span {
  height: 50px;
  width: 50px;
  background-color: var(--primary);
}

.products-list-container div:first-child span {
  bottom: 0;
  left: 12px;
}

.products-list-container div:nth-child(2) span {
  top: 0;
  right: 12px;
}

.products-list-container div:nth-child(3) span {
  bottom: 54px;
  right: -22px;
}

.products-list-container {
  gap: 6rem;
  font-family: "Helvetica Neue";
}
.video-box-part {
  display: flex;
  align-items: center;
}
.video-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.video-box-part .home3-section-title {
  font-size: 70px;
  line-height: 90px;
}
.video-container {
  /* height: 528px; */
  width: 90%;
  background-color: gray;
  border-radius: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.video-container video {
  width: 100%;
  border-radius: 54px;
  background-color: gray;
  min-height: 420px;
}
.video-container .icon-play {
  position: absolute;
}

.reviews-container {
  background-color: var(--primary);
  font-family: "Helvetica Neue";
  border-radius: 3rem;
  gap: 5rem;
  padding: 0 4rem 4rem 4rem;
}

.customer-card {
  max-width: 400px;
}
.call-cal-card-icon {
  margin-top: -14px;
}
/* .star-image {
  height: 30px;
  width: 30px;
} */

.faq-section {
  font-family: "Helvetica Neue";
}

.faq-section .accordion {
  width: 100%;
}

.accordion-button {
  font-size: 20px;
  font-weight: bold !important;
  background-color: inherit;
  outline: none !important;
  border-bottom: none !important;
}

.accordion-button:focus {
  outline: none !important;
  border: none !important;
}

.accordion-item {
  background-color: var(--primary);
  margin-bottom: 1rem;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: inherit;
}

.fw-500 {
  font-weight: 500;
}

.faq-input {
  width: 40rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.banner-section .privacy-block {
  background-color: #fff;
  border-radius: 28px;
  opacity: 1;
  padding: 16px 54px;
  color: var(--black);
  font-family: "Helvetica Neue";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  position: fixed;
  bottom: 2%;
  left: 0;
  width: 75%;
  margin: auto;
  right: 0;
  z-index: 999999;
  background-color: #fff;
}
.banner-section .privacy-block .title-text-part {
  flex: 2;
}
.banner-section .privacy-block .button-part {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}
.banner-section .privacy-block .close-btn-part {
  flex: 0;
}
.banner-section .privacy-block h6 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 47px;
}
.banner-section .privacy-block p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
.banner-section .privacy-block .accept-btn {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: var(--white);
  padding: 8px 26px;
  background-color: var(--black);
  border-radius: 23px;
  border: 0;
}
.banner-section .privacy-block .close-btn-part .close-btn {
  border: 0;
  background-color: transparent;
}
.section-margin-top {
  margin-top: 10rem;
}

.tab-content-part .nav.nav-tabs {
  border-bottom: 0;
}

.tab-content-part .nav {
  justify-content: space-around;
}

.tab-content-part .tab-content {
  border: 2px solid #03ff9d;
  border-radius: 20px;
  padding: 30px 33px 60px;
}
.sim-tab-part .tab-content {
  border-radius: 46px;
  padding: 0px 50px 56px;
}

.tab-content-part .nav-tabs .nav-link {
  width: 40%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-bottom-color: #03ff9d;
  margin-bottom: -2px;
  font-size: 20px;
  padding: 4px 0;
}

.tab-content-part .nav-tabs .nav-link.active {
  color: #03ff9d;
  background-color: transparent;
  border: 2px solid #03ff9d;
  margin-bottom: -2px;
  border-bottom: 2px solid #000;
}

.tab-content-part .nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tab-content .box .image-text-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tab-content .box {
  background-color: #ffffff;
  padding: 42px 40px;
  position: relative;
  height: 560px;
  border-radius: 70px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.tab-content .box .country-img {
  position: absolute;
  right: -50px;
  bottom: 154px;
  /* height: 120px; */
}
.tab-content .box .country-img.italy {
  right: -5px;
}
.tab-content .box .country-img.italy img {
  width: 100%;
}
.tab-content .box .country-img img {
  /* height: 210px; */
  width: 88%;
}

.tab-content .box .text-part {
  padding-top: 120px;
  position: relative;
  z-index: 1;
}

.tab-content .box h4 {
  font-size: 57px;
  line-height: 65px;
  color: #000000;
  font-weight: 500;
  font-family: "Rajdhani";
}

.flag-sim-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag-sim-part .flag {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "Helvetica Neue";
}
.flag-sim-part .flag img {
  margin-right: 12px;
}

.flag-sim-part .sim-part .sim {
  border-radius: 20px;
  line-height: 25px;
  background-color: #000000;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Helvetica Neue";
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 40px;
}

.flag-sim-part .sim-part {
  display: flex;
}

.price-buy-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.price-buy-btn .price {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  font-family: "Helvetica Neue";
}

.price-buy-btn .badge-sm-btn {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-family: "Helvetica Neue";
  text-align: center;
  background-color: #00ff9d;
  border: 0;
  padding: 8px 32px;
  border-radius: 23px;
}

.flg-country-row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 30px;
}

.flag-country-box {
  padding: 10px 21px;
  background-color: #fff;
  border: 1px solid #00ff9d;
  border-radius: 20px;
  width: 23.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.flag-country-box.active {
  background-color: #00ff9d;
}

.flag-country-box .ct-name {
  display: flex;
  align-items: center;
}

.flag-country-box .ct-name .flag-icon {
  width: 65px;
  height: 65px;
  min-width: 65px;
  max-width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
  border-radius: 50%;
}

.flag-country-box .ct-name .flag-icon img {
  width: 70%;
}

.flag-country-box .down-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  min-width: 20px;
  max-width: 20px;
  align-items: center;
  justify-content: flex-end;
}

.flag-country-box .down-icon img {
  width: 100%;
}

.flag-country-box .ct-name .country-name {
  font-size: 20px;
  color: #000000;
  font-family: "Helvetica Neue";
  margin-left: 8px;
}
.sim-tab-part {
  padding: 0 30px;
}
.sim-tab-part .nav {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  width: fit-content;
  margin-left: auto;
  border-radius: 30px;
  padding: 10px 20px;
}

.sim-tab-part .nav-pills .nav-link.active {
  background-color: #03ff9d;
  color: black;
  border-radius: 25px;
  border: 0;
}

.sim-tab-part .nav-pills .nav-link {
  border-radius: 25px;
  border: 1px solid #000;
  font-size: 18px;
  color: #000000;
  font-family: "Helvetica Neue";
  margin-right: 10px;
  min-width: 90px;
  padding: 4px 0;
}

.sim-tab-part .nav-pills .nav-item:last-child .nav-link {
  margin-right: 0;
}

.sim-tab-part .nav-item {
  flex: initial;
}

.sim-tab-part .tab-content {
  border: 0;
  background-color: #fff;
}

.sim-tab-part .tb-card {
  background: #00ff9d;
  border-radius: 29px;
  padding: 30px 42px 30px;
  /* margin-bottom: 36px; */
  height: 390px;
  margin-top: 56px;
}

.sim-tab-part .tb-card.green {
  background: #00ff9d;
}

.sim-tab-part .tb-card.blue {
  background: var(--theme-blue);
}
.sim-tab-part .tb-card.blue .sim-image img {
  filter: invert(1);
}
.sim-tab-part .tb-card .text-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  margin-bottom: 18px;
}

.sim-tab-part .tb-card .card-head {
  margin-bottom: 20px;
}

.sim-tab-part .tb-card .card-head p {
  margin-bottom: 0;
  font-size: 24px;
  color: #000000;
  font-family: "Helvetica Neue";
}
.sim-tab-part .tb-card .card-head small {
  font-size: 18px;
}

.sim-tab-part .tb-card .text-row p {
  margin-bottom: 0;
  font-size: 24px;
  color: #000000;
  font-family: "Helvetica Neue";
  flex: 1;
}

.sim-tab-part .tb-card .text-row p:first-child {
  flex: 3;
}

.sim-tab-part .tb-card h6 {
  text-align: center;
  font-size: 24px;
  color: #000000;
  font-family: "Helvetica Neue";
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 12px;
  line-height: 29px;
}

.sim-tab-part .tb-card .buy-btn {
  display: flex;
  justify-content: center;
}

.sim-tab-part .tb-card .buy-btn .sim-buy-btn {
  display: flex;
  justify-content: center;
  background-color: #000;
  font-size: 24px;
  color: #fff;
  font-family: "Helvetica Neue";
  border: 0;
  border-radius: 23px;
  padding: 4px 20px;
}

.dropdown .no-bg-btn {
  color: #fff;
}

.dropdown .no-bg-btn img {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.links-list li a {
  text-decoration: none;
  color: #fff;
}

li a.dropdown-item {
  color: #000000;
  font-weight: 500;
  font-family: "Rajdhani";
}

.first-section {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  padding: 30px 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.book-attraction-page .first-section {
  height: 90vh;
}
.first-section img.bg-img {
  width: 120%;
  position: absolute;
  top: 0;
  left: -13%;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
  z-index: 0;
}

.book-attraction-page .first-section img.bg-img {
  width: 100%;
  left: 0;
}
.first-section .container {
  position: relative;
  z-index: 2;
}

.first-section .container .content-first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2%;
}

.first-section .input-box {
  display: flex;
  align-items: baseline;
  position: relative;
}

.home-section-search {
  padding-right: 35px !important;
}

.first-section .input-box .divider {
  display: block;
  width: 1.5px;
  height: 70%;
  background-color: #666666;
  position: absolute;
  right: 60px;
  top: 10px;
}

.first-section .input-box .search-btn {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
  margin-left: -60px;
}

.first-section .input-box .search-btn img {
  width: 80%;
  transform: rotateZ(20deg);
  margin-top: -10px;
}

.first-section .input-box .search-btn i {
  font-size: 20px;
}

.flag-country-box.active .down-icon img {
  transform: rotateZ(180deg);
}

.tab-content .view-all {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.tab-content .view-all .show-more-btn {
  display: inline-flex;
  background: none;
  outline: none;
  border: 1px solid var(--white);
  border-radius: 23px;
  text-align: center;
  font: normal normal normal 24px/28px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 8px 32px;
}

.tb-card .sim-image {
  float: right;
  margin-top: -10px;
}

.sim-tab-part .nav-pills .nav-link.active#pills-profile-tab {
  background-color: var(--theme-blue);
}
.sim-tab-part .nav-pills .nav-link.active#pills-contact-tab {
  background-color: var(--black);
  color: var(--white);
}

.second-section .search-part {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.book-attraction-page .second-section {
  margin-bottom: 4rem;
}
.book-attraction-page .second-section .collections {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}

.book-attraction-page .second-section .collections .attraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;
  margin-bottom: 4rem;
}

.attraction .top-icon-part {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: var(--primary);
  border-radius: 50%;
}
.attraction .bottom-text-part {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Helvetica Neue";
}

.book-attraction-page .second-section .explores {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}

.book-attraction-page .second-section .explores .explore-btn {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  text-decoration: none;
  color: black;
  border: 1px solid #00ff9d;
  border-radius: 23px;
  gap: 10px;
  padding: 8px 0;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}
.book-attraction-page .second-section .explores .explore-btn:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}
/* select 2 css for select country dropdown start */
.select2-container {
  width: 600px !important;
}
.select2-container--default .select2-selection--single {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  width: 600px;
  height: 55px;
  border-radius: 32px;
  text-align: left;
  font: normal normal normal 24px/28px Helvetica Neue;
  letter-spacing: 0px;
  color: #666666;
  padding: 12px 10px 12px 23px;
  border: none;
  outline: none;
  box-shadow: none;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #00fe9c;
  color: #000;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single::after {
  content: "";
  background-image: url("../images/homePage/drop-green.png");
  width: 50px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.select2-container--default .select2-results__option .select2-flag {
  width: 30px !important;
  margin-right: 5px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  margin-right: 40px;
}

/* select 2 css for select country dropdown end */
/* selct flag part */
.selected-flag .select2-container{
  width: auto !important;
}
.selected-flag .select2-container--default .select2-selection--single{
  width: auto;
  background-color: transparent;
}
.selected-flag .select2-container--default .select2-selection--single .select2-selection__rendered {
  margin-right: 0px;
}
.selected-flag .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: flex;
}
.selected-flag .select2-container--default .select2-selection--single::after{
  display: none;
}
.selected-flag .select2-flag{
  width: 40px;
}
.selected-flag .select2-flag  .select2-container--default .select2-selection--single{
  height: 35px;
}
.selected-flag .select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-color: #fff transparent transparent transparent !important;
  margin-left: 4px;
}
.selected-flag .select2-container--default .select2-selection--single{
  height: 30px;
  padding: 0;
}
.navbar .dropdown-menu {
  min-width: auto;
}
.navbar .dropdown-menu img {
  width: 25px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.image-slide-section .mobile-text-part {
  text-align: center;
}

.image-slide-section .mobile-image-postion {
  display: flex;
  justify-content: center;
}

.image-slide {
  margin: 100px auto 0;
  width: 90%;
}

.image-slide-section .home3-section-description {
  margin-top: 50px;
}

.mobile-img-part {
  margin-top: 102px;
}

.mobile-img-part .mobile {
  text-align: center;
  flex: 1;
}

.mobile-img-part .mobile-img {
  width: 100%;
}

.step {
  color: #ffffff;
  width: 72%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.Partner-comp {
  margin-top: 83px;
}

.Partner-comp div {
  gap: 53px;
}

.Partner-comp div:last-child,
.Partner-comp div:first-child {
  justify-content: center;
}

.Partner-comp .comp-rectangle {
  width: 243px;
  height: 137px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 69px;
  opacity: 1;
  margin-bottom: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-app {
  /* background: #00FF9D 0% 0% no-repeat padding-box; */
  opacity: 1;
  padding: 90px 0 140px;
  margin-top: 400px;
  position: relative;
  z-index: 0;
  background-color: #00ff9d;
}

.download-app::before {
  position: absolute;
  /* content: ""; */
  background-size: contain;
  background-image: url("../images/homePage/mobile-round-back.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  bottom: -13px;
  left: -4px;
  z-index: -1;
}

.download-app .text-part {
  width: 20%;
}

.download-app .text-part h2 {
  text-align: left;
  font-family: "Rajdhani";
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.download-app .text-part p {
  text-align: left;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.download-app .img-part .barcode {
  margin-left: 22px;
}

.download-app .img-part a {
  filter: invert(1);
}

footer {
  margin-top: 52px;
}

footer .content {
  display: flex;
}

footer .left-part {
  /* border-right: 1px solid #FFFFFF; */
  position: relative;
  padding-right: 50px;
}

footer .left-part::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 100%;
  background: #ffffff;
  right: 0;
  top: 0;
}

footer .left-part .logo {
  margin-bottom: 34px;
}

footer .left-part p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 9px;
}

footer .left-part .social-media {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

footer .right-part .upper-side {
  margin-left: 30px;
  display: flex;
  gap: 18px;
}

footer .right-part .upper-side ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
}
footer .right-part .upper-side .end-side {
  flex: 2;
}

footer .right-part .upper-side ul .list-head {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff;
  white-space: nowrap;
}

footer .right-part .upper-side ul .list-item a {
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #00ff9d;
  text-decoration: none;
}

footer .right-part .upper-side .end-side .text-one {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
  /* width: 76%; */
  margin: 0;
}

footer .right-part .upper-side .end-side .text-two a,
footer .right-part .upper-side .end-side .text-two {
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #00ff9d;
  /* width: 80%; */
}

footer .right-part .upper-side .end-side .text-two a {
  text-decoration: underline #707070;
}

footer .right-part .upper-side .end-side input {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #00ff9d;
  border-radius: 18px;
  opacity: 1;
  width: 205px;
  height: 36px;
  padding: 4px 12px;
}

footer .right-part .upper-side .end-side .submit-btn {
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  background: #00ff9d 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 1;
  padding: 9px 13px;
  border: none;
}

footer .right-part .upper-side .end-side .payment {
  border-radius: 18px;
  margin-top: 12px;
}
footer {
  border-bottom: 10px solid #00ff9d;
}
footer .right-part .bottom-side {
  display: flex;
  gap: 26px;
  margin-top: 10px;
  margin-bottom: 50px;
}

footer .right-part .bottom-side .text-one a {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 30px;
}

/* aditi's css start here */
.customer-review-section {
  position: relative;
}
.customer-review-section .profile-image-container.z-top {
  z-index: 5;
}
.customer-review-section .top-left {
  position: absolute;
  top: -370px;
  left: -10px;
}
.customer-review-section .middle-top {
  position: absolute;
  top: 14%;
  left: 35%;
  z-index: 2;
}
.customer-review-section .middle-bottom {
  position: absolute;
  top: 25%;
  left: 25%;
}
.customer-review-section .right-middle {
  position: absolute;
  right: 0;
  top: 38%;
  height: 42%;
}
.product-we-support-part {
  margin-top: 70px;
}
.reviews-container {
  margin-top: 130px;
}

.reviews-container .profile-image-container {
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

.reviews-container .customer-card {
  flex: 1;
}

.partner-with-us .rectangle {
  padding: 32px 36px;
}

.partner-with-us .rectangle h5 {
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  font-weight: 600;
}

.partner-with-us .rectangle p {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.partner-raw {
  margin-top: 75px;
  display: flex;
  flex: 1 1 auto;
}

.partner-raw .partner-box {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.faq-section .faq-search-input .faq-input {
  padding: 20px 27px;
  color: #666666;
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  height: 68px;
  margin: 0;
}

.faq-section .faq-search-input .faq-input:focus {
  outline: none;
  box-shadow: none;
}

.faq-section .faq-search-input {
  position: relative;
  margin: 80px 0;
}

.faq-section .faq-search-input .search-icon {
  position: absolute;
  top: 12px;
  right: 12px;
}

.faq-section .faq-search-input .search-icon::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 1px;
  background-color: #666666;
  top: -8px;
}

.faq-section .faq-search-input .search-icon img {
  padding-left: 10px;
  width: 100%;
}

.accordion-item {
  border-radius: 12px !important;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  box-shadow: none;
  padding: 7px 24px;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-button::after {
  background-image: url("../images/homePage/down-arrow.png");
  background-color: #000;
  right: 0px;
  top: 1px;
  position: absolute;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-position: center;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/homePage/up-arrow.png");
  transform: none;
}

.accordion-button {
  font-size: 28px;
  line-height: 34px;
  font-family: "Helvetica Neue";
  font-weight: 700;
}
.accordion-body {
  font-size: 24px;
  line-height: 28px;
  font-family: "Helvetica Neue";
  font-weight: 400;
}

.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  margin: auto;
}
.mobile-back-image {
  position: absolute;
  bottom: -13px;
  left: -8px;
  width: 80%;
  z-index: -1;
}

.second-section .search-part .dropdown .dropdown-item.custom-btn {
  display: flex;
  align-items: center;
  width: 100%;
}
.second-section .search-part .dropdown .dropdown-item.custom-btn img {
  width: 30px;
  margin-right: 10px;
}
.dropdown-item:active {
  background-color: var(--black);
  outline: 0;
}
.sim-tab-part .tb-card .text-row img {
  width: 25px;
}
.second-header .navbar-nav {
  flex-direction: row;
}
.second-header .navbar-nav li a {
  padding: 0;
  color: #000;
}
.second-header .navbar-nav .nav-item.active,
.second-header .navbar-nav .nav-item:hover {
  background-color: transparent;
  border: 2px solid var(--primary);
}
.second-header .navbar-nav .nav-item.active a,
.second-header .navbar-nav .nav-item:hover a {
  color: var(--primary);
  background-color: transparent;
}

.sim-tab-part .tb-card .text-row p i {
  width: 20px;
  font-size: 20px;
}
.sim-tab-part .tb-card .text-row p i.data-rotate-icon {
  transform: rotate(90deg);
}
input:focus,
textarea:focus {
  outline: 0;
}
.form-check-input:focus {
  border-color: var(--primary);
  box-shadow: none;
}
.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

/* not-found page */
.not-found-main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  flex-direction: column;
  text-align: center;
}
.not-found-main-page .no-content-found h2 {
  font-size: 72px;
  font-family: "Helvetica Neue";
  font-weight: 400;
}
.not-found-main-page .no-content-found p {
  font-size: 36px;
  line-height: 47px;
  color: #000;
  font-family: "Helvetica Neue";
  max-width: 60%;
  margin: auto;
}

@media screen and (min-width: 1921px) {
  .customer-review-section .top-left,
  .customer-review-section .middle-top,
  .customer-review-section .middle-bottom,
  .customer-review-section .right-middle {
    display: none;
  }
}
@media screen and (min-width: 1660px) {
  .container {
    max-width: 1488px;
  }
  .download-app::before {
    height: 140vh;
    width: 78vw;
  }
}
@media screen and (max-width: 1680px) {
  /* .download-app::before{
    height: 150vh;
    width: 96vw;
  } */
  .mobile-back-image {
    position: absolute;
    bottom: -11px;
    left: -8px;
    width: 80%;
    z-index: -1;
  }
  .customer-review-section .middle-bottom {
    left: 20%;
  }
  .customer-review-section .middle-top {
    left: 32%;
  }
  .customer-review-section .right-middle {
    right: -2%;
  }
}
@media screen and (max-width: 1500px) {
  .flg-country-row {
    padding: 0 18px;
  }
  .sim-tab-part .tb-card {
    padding: 30px 30px 30px;
  }
  .sim-tab-part .tb-card .text-row p {
    font-size: 18px;
  }
  .tab-content .box h4 {
    font-size: 48px;
    line-height: 60px;
  }
  .flag-sim-part .flag {
    font-size: 18px;
  }
  .flag-sim-part .sim-part .sim {
    width: 60px;
    height: 30px;
    font-size: 18px;
  }
  .price-buy-btn .price {
    font-size: 22px;
  }
  .price-buy-btn .badge-sm-btn {
    font-size: 18px;
  }
  .tab-content .box {
    height: 480px;
  }
  .tab-content .box .country-img {
    right: -100px;
  }
  .tab-content .box .country-img.italy {
    right: -85px;
  }
  .tab-content .box .country-img img,
  .tab-content .box .country-img.italy img {
    width: 75%;
  }
  .tab-content-part {
    width: 95%;
    margin: auto;
  }
  .sim-tab-part .tb-card {
    height: auto;
    padding: 20px 30px 20px;
  }
  .sim-tab-part .tab-content {
    padding: 0 30px 56px;
  }
  .mobile-back-image {
    position: absolute;
    bottom: -13px;
    width: 100%;
    z-index: -1;
  }
  .banner-section .privacy-block {
    width: 85%;
  }
}
@media screen and (max-width: 1440px) {
  .download-app::before {
    bottom: -9px;
  }
  .mobile-back-image {
    position: absolute;
    bottom: -11px;
    width: 85%;
    z-index: -1;
  }
  .download-app {
    margin-top: 200px;
  }
  .tab-content .box {
    padding: 42px 30px;
  }
  .tab-content-part .tab-content {
    padding: 30px 22px 60px;
  }
  .price-buy-btn .badge-sm-btn {
    padding: 8px 20px;
  }
  .banner-section .privacy-block {
    width: 90%;
  }
  .customer-review-section .top-left {
    left: -100px;
  }
  .customer-review-section .middle-top {
    left: 30%;
  }
  .customer-review-section .middle-bottom {
    left: 16%;
  }
  .customer-review-section .right-middle {
    right: -3%;
    height: 27%;
  }
}

@media screen and (max-width: 1399px) {
  .first-section {
    min-height: 760px;
    max-height: 760px;
  }
  .book-attraction-page .first-section {
    height: 80vh;
    min-height: unset;
    max-height: unset;
  }
  .book-attraction-page .second-section .collections {
    max-width: 95%;
  }
  .book-attraction-page .second-section .explores {
    width: 100%;
    padding: 50px 0 0;
  }
  .book-attraction-page .second-section {
    margin-top: 2rem;
  }
  .book-attraction-page .second-section .explores .explore-btn,
  .attraction .bottom-text-part {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1366px) {
  .customer-review-section::before {
    top: -320px;
    left: -66px;
  }
  .download-app .text-part {
    width: 25%;
  }
  .Partner-comp .comp-rectangle {
    width: 190px;
    height: 100px;
  }
  .footer-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-margin-top {
    margin-top: 4rem;
  }
  .mobile-back-image {
    position: absolute;
    bottom: -10px;
    left: -8px;
    width: 80%;
    z-index: -1;
  }
  .banner-section .privacy-block {
    width: 84%;
  }
  .customer-review-section .middle-top {
    width: 55%;
  }
  .customer-review-section .middle-bottom {
    left: 14%;
    width: 33%;
  }
  .customer-review-section .right-middle {
    right: -1%;
  }
  .customer-review-section .top-left{
    width: 32%;
    top: -350px;
  }
}

@media screen and (max-width: 1280px) {
  .customer-review-section::before {
    top: -310px;
    left: -110px;
  }
  .footer-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer .right-part .upper-side ul .list-head {
    font-size: 16px;
  }
  footer .right-part .upper-side ul .list-item a {
    font-size: 14px;
  }
  footer .right-part .upper-side,
  footer .right-part .bottom-side .text-one a {
    margin-left: 10px;
  }
  .mobile-back-image {
    position: absolute;
    bottom: -10px;
    width: 90%;
    z-index: -1;
  }
  .banner-section .privacy-block {
    width: 88%;
  }
  .book-attraction-page .first-section img.bg-img {
    width: 110%;
    left: -10px;
  }
}

@media screen and (max-width: 1199px) {
  .second-section .flg-country-row .flag-country-box {
    width: 31%;
  }

  .tb-card .sim-image {
    margin-right: -40px;
  }

  .tb-card .sim-image img {
    width: 70%;
  }

  .flag-country-box .ct-name .flag-icon img {
    width: 60%;
  }

  .first-section {
    height: 90vh;
  }
  .book-attraction-page .second-section .explores .explore-btn,
  .attraction .bottom-text-part {
    font-size: 16px;
    line-height: 21px;
  }
}

@media screen and (max-width: 1100px) {
  .customer-review-section .top-left,
  .customer-review-section .middle-top,
  .customer-review-section .middle-bottom,
  .customer-review-section .right-middle {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .tab-content-part .nav-tabs .nav-link {
    width: 80%;
  }

  .reviews-container {
    flex-wrap: wrap;
  }

  .customer-review-section::before {
    display: none;
  }

  .download-app::before {
    display: none;
  }

  .download-app .content {
    justify-content: flex-start !important;
  }

  .download-app .text-part {
    width: 50%;
  }
  .mobile-back-image {
    position: absolute;
    bottom: -10px;
    width: 100%;
    z-index: -1;
    display: none;
  }
  footer .content {
    flex-wrap: wrap;
  }

  footer .left-part::after {
    display: none;
  }

  footer .right-part .upper-side {
    margin-left: 0;
    gap: 30px;
  }

  footer .right-part .bottom-side .text-one a {
    margin-left: 0;
    margin-top: 20px;
    display: inline-block;
  }

  footer .right-part {
    margin-top: 30px;
  }

  footer .right-part .upper-side .end-side .text-two a,
  footer .right-part .upper-side .end-side .text-two {
    margin-bottom: 20px;
  }
  footer .footer-content-part {
    flex-wrap: wrap;
  }
  footer .footer-content-part .left-footer-part {
    width: 100%;
  }
  footer .footer-content-part .right-footer-part {
    width: 100%;
  }
  .Partner-comp .comp-rectangle {
    width: 110px;
    height: 50px;
  }
  .Partner-comp .block-row {
    justify-content: center;
  }
  .image-slide {
    width: 100%;
  }
  .sim-tab-part .tb-card .text-row p {
    font-size: 14px;
  }
  .tab-content-part {
    width: 100%;
  }
  .sim-tab-part .tb-card {
    padding: 20px;
  }
  .tab-content .box {
    height: 400px;
    padding: 32px 20px;
    border-radius: 40px;
  }
  .tab-content .box .country-img,
  .tab-content .box .country-img.italy {
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
  .tab-content .box .country-img img,
  .tab-content .box .country-img.italy img {
    width: 80%;
  }
  .price-buy-btn .price {
    font-size: 18px;
  }
  .price-buy-btn .badge-sm-btn {
    font-size: 14px;
  }
  .flag-sim-part .flag img {
    margin-right: 6px;
  }
  .banner-section .privacy-block .accept-btn {
    font-size: 20px;
    padding: 8px 20px;
  }
  .image-slide-section .mobile-image-postion img {
    width: 100%;
  }
  .video-section {
    justify-content: center;
  }
  .home3-section-title {
    font-size: 45px;
    line-height: 52px;
  }
  .video-box-part .home3-section-title {
    font-size: 45px;
    line-height: 52px;
  }
  .home3-section-subtitle {
    font-size: 36px;
    line-height: 46px;
  }
  .Partner-comp div {
    gap: 20px;
  }
  .Partner-comp .comp-rectangle {
    width: 230px;
    height: 90px;
  }
  .banner-section .privacy-block {
    width: 90%;
  }
  .book-attraction-page .first-section {
    height: 70vh;
  }
  .book-attraction-page .first-section img.bg-img {
    opacity: 0.8;
  }
}

@media screen and (max-width: 991px) {
  .main-tab-part {
    align-items: center;
    justify-content: flex-start;
    row-gap: 15px;
  }

  .second-section .flg-country-row .flag-country-box {
    width: 48%;
  }

  .first-section img.bg-img {
    width: 130%;
    height: 110%;
    object-fit: unset;
    object-position: unset;
    left: -25%;
  }

  .tab-content-part .nav-tabs .nav-link {
    width: 80%;
  }

  .section-margin-top {
    margin-top: 5rem;
  }

  .Partner-comp {
    display: none;
  }

  footer .right-part .upper-side .end-side .submit-btn {
    margin-top: 12px;
  }

  .book-attraction-page footer .right-part .upper-side .end-side .submit-btn {
    margin-top: 0;
  }
  footer .right-part .upper-side .end-side .payment {
    width: 100%;
  }
  footer .right-part .upper-side {
    display: grid;
  }
  .banner-section .privacy-block p {
    font-size: 18px;
  }
  .banner-section .privacy-block .accept-btn {
    font-size: 16px;
    padding: 8px 12px;
  }
  .video-container {
    width: 100%;
  }
  .banner-section .privacy-block {
    position: fixed;
    padding: 16px 24px;
  }
  .banner-section .privacy-block .close-btn-part .close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .banner-section .privacy-block .close-btn-part .close-btn img {
    width: 25px;
  }
  .tab-content .box .country-img {
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .tab-content .box .country-img.france {
    bottom: 135px;
  }
  .tab-content .box .country-img.france img {
    width: 58%;
  }
  .tab-content .box {
    border-radius: 40px;
  }
  .video-container video {
    border-radius: 40px;
  }
  .not-found-main-page {
    height: 80%;
  }
  .not-found-main-page .no-content-found h2 {
    font-size: 60px;
  }
  .not-found-main-page .no-content-found p {
    font-size: 24px;
  }
  .book-attraction-page .first-section img.bg-img {
    height: 100%;
    width: 120%;
  }
  .book-attraction-page .second-section {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .section-margin-top {
    margin-top: 3rem;
  }

  .home3-section-title {
    font-size: 60px;
    line-height: 70px;
  }

  .home3-section-subtitle {
    font-size: 32px;
    line-height: 40px;
  }

  .home3-section-description {
    font-size: 28px;
    line-height: 38px;
  }

  .partner-with-us .rectangle {
    padding: 20px 20px;
  }

  .faq-section .faq-search-input {
    margin: 40px 0;
  }

  .image-slide-section .mobile-image-postion img {
    width: 100%;
  }
  .sim-tab-part .tb-card .text-row p {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .home-section-search {
    width: 30rem;
  }

  .video-container {
    height: 12rem;
    width: 20rem;
  }

  .faq-input {
    width: 20rem;
  }

  .home-section-title {
    font-size: 60px;
    line-height: 60px;
  }

  .reviews-container {
    background-color: var(--primary);
    font-family: "Helventica Neue";
    border-radius: 3rem;
    gap: 5rem;
    padding: 0 2rem 2rem 2rem;
  }

  .first-section {
    height: 570px;
    padding: 30px 20px;
  }

  .search-part .country-dropdown-btn {
    width: 30rem;
  }

  .second-section .flg-country-row .flag-country-box {
    width: 98%;
  }

  .sim-tab-part .tb-card {
    padding: 20px 20px 20px;
  }
  .tab-content-part .tab-content {
    padding: 8px 22px 60px;
  }
  .sim-tab-part .tb-card {
    margin-top: 20px;
  }
  .tb-card .sim-image {
    margin-top: -0px;
    margin-right: -30px;
  }

  .home3-section-title {
    font-size: 40px;
    line-height: 55px;
  }

  .home3-section-subtitle {
    font-size: 28px;
    line-height: 35px;
  }

  .home3-section-description {
    font-size: 22px;
    line-height: 30px;
  }

  .download-app .text-part h2 {
    font-size: 40px;
  }

  .home-section-search {
    width: 18rem;
  }

  .faq-input {
    width: 20rem;
  }

  .home-section-title {
    font-size: 60px;
    line-height: 60px;
  }

  .image-slide-section .rounded {
    text-align: center;
  }

  .image-slide-section .rounded img {
    width: 95%;
  }

  .reviews-container {
    background-color: var(--primary);
    font-family: "Helvetica Neue";
    border-radius: 3rem;
    gap: 5rem;
    padding: 0 2rem 2rem 2rem;
  }

  .partner-with-us .rectangle {
    margin-bottom: 20px;
  }

  .download-app {
    padding: 40px 0 60px;
    margin-top: 50px;
  }

  .download-app .img-part {
    flex-wrap: wrap;
    justify-content: center;
  }

  .download-app .img-part .barcode {
    margin-top: 20px;
  }

  .download-app .content {
    flex-wrap: wrap;
  }

  .download-app .text-part {
    width: 100%;
  }

  footer .right-part .upper-side {
    display: grid;
  }

  footer .right-part .upper-side .end-side .payment {
    width: 80%;
  }

  footer .right-part .bottom-side {
    gap: 10px;
    flex-wrap: wrap;
  }

  footer .right-part .upper-side .end-side .text-one,
  footer .right-part .upper-side .end-side .text-two a,
  footer .right-part .upper-side .end-side .text-two {
    width: 100%;
  }

  .accordion-button,
  .accordion-button:not(.collapsed) {
    padding: 7px 50px 7px 24px;
    font-family: "Helvetica Neue";
  }

  .faq-section .faq-search-input .faq-input {
    font-size: 16px;
    height: 50px;
    padding: 10px 14px;
  }

  .faq-section .faq-search-input .search-icon::before {
    height: 40px;
  }

  .faq-section .faq-search-input .search-icon img {
    width: 80%;
    margin-top: -8px;
  }

  .partner-raw {
    margin-top: 40px;
  }

  .image-slide-section .mobile {
    margin-bottom: 20px;
  }
  .banner-section .privacy-block {
    flex-wrap: wrap;
    padding: 16px 16px;
  }
  .banner-section .privacy-block .title-text-part {
    flex: auto;
  }
  .banner-section .privacy-block .button-part {
    margin-top: 0;
  }
  .banner-section .privacy-block .close-btn-part {
    flex: 1;
    order: -1;
    display: flex;
    justify-content: flex-end;
  }
  .banner-section .privacy-block .close-btn-part img {
    width: 25px;
  }
  .banner-section .privacy-block {
    margin-top: 40px;
  }
  .flg-country-row {
    padding: 0px 0px;
  }
  .sim-tab-part {
    padding: 0 0px;
  }
  .tab-content .box .country-img {
    right: 0;
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }
  .tab-content .box .country-img.france {
    bottom: 100px;
  }
  .tab-content .box .country-img.italy {
    right: 0;
  }
  .tab-content .box .country-img img,
  .tab-content .box .country-img.italy img {
    width: 100%;
  }
  .video-box-part .home3-section-title {
    font-size: 40px;
    line-height: 55px;
  }
  .video-section {
    justify-content: center;
  }
  .video-container {
    width: 100%;
    height: 16rem;
  }
  .video-container video {
    min-height: auto;
  }
  .book-attraction-page .second-section .explores {
    width: 75%;
  }
  .book-attraction-page .home-section-search {
    padding-right: 60px !important;
  }
}
@media screen and (max-width: 640px) {
  .first-section img.bg-img {
    width: 140%;
  }
  .header-link-list li {
    font-size: 18px;
    padding: 4px 14px;
  }
  .select2-container--default .select2-selection--single {
    width: 100%;
  }
  .header-link-list li {
    min-width: auto;
  }
}
@media screen and (max-width: 525px) {
  .links-list {
    flex-wrap: wrap;
  }
  .links-list li {
    white-space: nowrap;
  }
  .navbar-dark .navbar-brand img {
    width: 80%;
  }
  .home-section-search {
    width: 100%;
    padding-right: 85px !important;
  }
  .search-part .country-dropdown-btn {
    width: 100%;
  }
  .home-section-title {
    font-size: 45px;
    line-height: 50px;
  }
  .home-section-description {
    font-size: 20px;
  }
  .second-section {
    margin-top: 0px;
  }
  .first-section {
    min-height: auto;
    max-height: fit-content;
    height: auto;
    padding-top: 0;
  }
  .first-section img.bg-img {
    opacity: 0.4;
  }
  .first-section .home-section-title {
    font-size: 52px;
    line-height: 60px;
    text-align: center;
  }
  .home-section-description {
    font-size: 20px;
    text-align: center;
  }
  .first-section .input-box {
    justify-content: center;
  }
  .first-section .container .content-first {
    align-items: normal;
  }
 
  .first-section .input-box .search-btn img {
    width: 60%;
  }
  .banner-section .privacy-block .close-btn-part .close-btn img {
    width: 20px;
  }
  .second-section .search-part .dropdown {
    width: 85%;
  }
  .tab-content .box .country-img {
    width: 100%;
    bottom: 130px;
  }
  .tab-content .box .country-img img {
    width: 55%;
  }
  .tab-content .box .country-img.italy img {
    width: 70%;
  }
  .tab-content .box .country-img.france img {
    width: 45%;
  }
  .tab-content .box {
    height: 340px;
    padding: 20px 20px;
    border-radius: 30px;
  }
  .tab-content-part .nav-tabs .nav-link {
    width: 88%;
    font-size: 16px;
  }
  .not-found-main-page .no-content-found h2 {
    font-size: 32px;
  }
  .not-found-main-page .no-content-found p {
    font-size: 20px;
    line-height: 30px;
    max-width: 80%;
    margin: auto;
  }
  .book-attraction-page .first-section img.bg-img {
    width: 100%;
    left: 0;
    opacity: 0.4;
  }
  .book-attraction-page .first-section {
    height: 60vh;
  }
  .book-attraction-page .second-section {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .first-section img.bg-img {
    left: -30%;
  }
  .footer-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  footer .right-part .upper-side .d-flex{
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media screen and (max-width: 375px) {
  .first-section {
    padding: 80px 0;
  }
  .navbar-dark .navbar-brand {
    width: 70%;
  }
  .sim-tab-part .nav {
    padding: 10px;
  }
  .sim-tab-part .nav-pills .nav-link {
    min-width: 86px;
    margin-right: 6px;
  }
  .tab-content .box {
    height: 312px;
  }
  .book-attraction-page .second-section .explores {
    width: 90%;
  }
}
@media screen and (max-width: 350px) {
  .second-section .search-part .dropdown {
    width: 100%;
  }
  .tab-content .box {
    height: 300px;
  }
  .footer-container {
    padding-left: 13px;
    padding-right: 13px;
  }
}
@media screen and (max-width: 375px) {
  .sim-tab-part .nav-pills .nav-link {
    min-width: 72px;
    margin-right: 6px;
  }
}
